name: Custom Workflow

#on:
#  push:
#    tags:
#      - 'v*'

on:
  workflow_dispatch:
    inputs:
      PACKAGE_NAME:
        description: 'Pip main package name'
        required: true
        default: ${{ github.event.repository.name }}
      EXTRA_PACKAGES:
        description: 'Extra packages needed for the service.'
        default: ''
      VERSION:
        description: 'Image and pip package should have the same version.'
        required: false
        default: 'latest'

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: lemar5555/custom-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set env
        run: |
          export FOO="BAR"

      - name: Get env
        run: |
          echo $FOO
          echo ${{ github.event.inputs.PACKAGE_NAME }}
          echo ${{ github.event.inputs.EXTRA_PACKAGES }}
          echo ${{ github.event.inputs.VERSION }}
          echo ${{ github.event.repository.name }}
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
