name: Custom Workflow

on:
  push:
    tags:
      - 'v*'

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: lemar5555/custom-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
